<div class="quiz-container">
  <div class="quiz-header">
   @if (isTimerEnable) {  <div class="header-item timer">⏱ {{ this.timer  }}</div>}
    <div class="header-item counter">Question {{ currentQuestion }}/{{ totalQuestions }}</div>
    @if (isTimerEnable) { <div class="header-item total-time">Total Time: {{ totalTime }} minut</div>}
  </div>

  <div class="question-block">
    
    <h2>Q{{ currentQuestion }}. {{ question.text }}  @if(false){ <button  (click)="openPopup(true)">View Definiton</button>}</h2>
    <ul class="options-list">
      <li *ngFor="let option of question.options" [id]="option"
          [class.selected]="selectedOption === option"
          (click)="selectOption(option ,question.queNo , currentQuestion)">
        {{ option }}
      </li>
    </ul>
  </div>

  <div class="navigation-buttons">
    <button (click)="previousQuestion()">Previous</button>

    @if ( this.totalQuestions!=this.currentQuestion && !this.isReview ) {
        <button (click)="submitQuiz()" [disabled]="AtteptQuestion==0">Submit Quiz</button>
    }
    @if ( this.isReview ) {
        <button (click)="exitReview()">Exist Review</button>
    }
    @if ( this.totalQuestions==this.currentQuestion && !this.isReview) {
        <button (click)="submitQuiz()">Submit Quiz</button>
    }@else{
         
        <button (click)="nextQuestion()">Next</button>
      }
   
  </div>

  


</div>

<div class="popup-overlay" *ngIf="isOpen">
  <div class="popup-content">
    <button class="close-btn" (click)="openPopup(false)">✖</button>
    <iframe 
      [src]="safeUrl" 
      width="100%" 
      height="500" 
      frameborder="0">
    </iframe>
  </div>
</div>
